{% extends 'bases/base.html' %}
{% load static %}


{% block head %}
    
{% endblock head %}

{% block title %} 
    Logout
{% endblock title %}

{% block content %}
    <h1>LogOut</h1>

    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <p>Are you sure about finish your session?</p>

        <div>
            <a href="{% url 'task_list_view' %}" class="btn btn-gray">Cancel</a>
            <input type="submit" value="Logout" class="btn btn-danger">
        </div>

    </form>
{% endblock content %}
    